body {
  /* background: #234124; rgba(0,0,0,.87) rgb(44, 42, 42)*/
  background: slategrey;
  background: linear-gradient(to bottom, #fefcea, #424242);
}

.panelLeft {
  background: linear-gradient(to bottom, #fefcea, grey);
  border: 0;
}

.point {
  margin: 10%;
  display: flex;
  flex-direction: column;
}

.divRadio {
  display: flex;
  flex-direction: column;
}

.afterPoint {
  font-style: oblique;
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .left-bar {
    position: relative;
    width: 10%;
    border: solid green;
    height: 740px;
}

.player {
    width: 500px;
    border: solid salmon;
} */

.mainContent {
  margin: 1%;
}

.tabs {
  justify-content: flex-end;
}

.footercli {
  height: 2%;
}

.authorIMG {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.authorText {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url("../img/29539529.jpg") center / cover;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.mdl-mini-footer__middle-section {
  display: flex;
  justify-content: center;
}

.play,
.pause,
.speaker {
  font-size: 40px;
  line-break: auto;
  line-height: 20px;
  cursor: pointer;
}

.progress {
  border: solid teal;
  width: 100%;
  position: relative;

  height: 100%;
}
.progress_loaded {
  position: absolute;
  background: #fff;
  z-index: 1;
  height: 100%;
  /* border: solid black; */
}

.progress_current {
  position: absolute;
  background: #ff0000;
  z-index: 2;
  height: 100%;
  /* border: solid green; */
}
.duration{
  margin-left: 3%;
  margin-right: 8%
}
.overlay1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.mdl-mini-footer__social-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.helpme {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.twitter {
  background: url(../img/tw.png);
}

.vk {
  background: url(../img/vk.png);
}

.github {
  background: url(../img/git.png);
}
