body {
  /* background: #234124; rgba(0,0,0,.87) rgb(44, 42, 42)*/
  background: slategrey;
  background: linear-gradient(to bottom, #fefcea, #424242);
}

.panelLeft {
  background: linear-gradient(to bottom, #fefcea, grey);
  border: 0;
}

.point {
  margin: 10%;
  display: flex;
  flex-direction: column;
}

.divRadio {
  display: flex;
  flex-direction: column;
}

.afterPoint {
  font-style: oblique;
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mainContent {
  margin: 1%;
}

a{
  text-decoration: none;
  color: inherit;
}
.tabs {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 15px;
  margin-left: auto;
  margin-right: 10%;
  text-transform: uppercase;
  

}
.main,
.songs,
.albums,
.artists{
  padding: 15px;
  min-width: 15px;
}

.footercli {
  height: 2%;
}

.authorIMG {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.authorText {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url("../img/29539529.jpg") center / cover;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.mdl-mini-footer__middle-section {
  display: flex;
  justify-content: center;
}

.listMain{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.mdl-list{
  font-size: 20px;
}
.mdl-list__item{
  padding-bottom: 5%;
}


.wrapperProgress{
  width: 300px;
  height: 20px;
  margin-left: 10px;
  
}
.play,
.pause,
.speaker {
  font-size: 40px;
  line-break: auto;
  line-height: 20px;
  cursor: pointer;
}

.progress {
  border: solid teal;
  width: 100%;
  position: relative;
  border-radius: 10px;
  height: 100%;
}
.progress_loaded {
  position: absolute;
  background: rgb(122, 153, 148);
  z-index: 1;
  border-radius: 10px;
  height: 100%;
  /* border: solid black; */
}

.progress_current {
  position: absolute;
  background: #3bdd48;
  z-index: 2;
  border-radius: 10px;
  height: 100%;
  /* border: solid green; */
}

.valueVolume{
  min-width: 25px;
}
.duration{
  margin-left: 3%;
  margin-right: 8%;
  min-width: 35px;
}
.overlay1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.mdl-mini-footer__social-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.helpme {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.twitter {
  background: url(../img/tw.png);
}

.vk {
  background: url(../img/vk.png);
}

.github {
  background: url(../img/git.png);
}
